body{
    background-color:powderblue;
}

@keyframes movement{
   0%{background-color: pink;left: 0px;top: 0px;}
   20%{background-color: darkviolet;left:100px;top:100px;}
   40%{background-color: mediumturquoise;left:200px;top:0px;}
   60%{background-color: chartreuse;left:300px;top:100px;}
   80%{background-color: yellow;left:400px;top:0px;}
   90%{background-color: salmon;left:500px;top:100px;}
   100%{background-color: pink;left: 0px;top: 0px;}
}

div{
    width:100px;
    height:100px;
    position:relative;
    background-color:pink;
    animation-name:movement;
    animation-duration:3s;
    animation-iteration-count: infinite;
}